{% extends "layout.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <br>
    <p>Je suis Clément Parisot, créateur de Kiment&Co.</p>
</div>
{% endblock %}