{% extends "layout.html.twig" %}

{% block content %}

<div class="container">
    {% if form.state %}
    <div class="alert alert-{{ form.state }}" role="alert">
        {{ form.message }}
    </div>
    {% endif %}
</div>

{% endblock %}