{% extends "layout.html.twig" %}

{% block title %}Fiche de produit{% endblock %}

{% block content %}

<div class="container">
    {% if product %}
    <div class="col-12">
        <h1 class="mb-5">{{ product.label }}</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card p-2">
                <div class="col-md-4">
                    {% if product.image %}
                    <img src="uploads/{{ product.image }}" class="img-fluid rounded-start" alt="...">
                    {% else %}
                    <img src="https://fakeimg.pl/350x200/?text=Image" class="img-fluid rounded-start" 
                   alt="...">
                    {% endif %}
                   </div>
            </div>
        </div>
        <div class="col-md-5 text-secondary">
            <p>{{ product.description }}</p>
        </div>
        <div class="col-md-3 bg-light text-center p-5">
            <h5 class="h1 text-primary">{{ product.price }} €</h5>
        </div>
    </div>
    {% else %}
    <p>Aucun produit n'est défini !</p>
    {% endif %}
</div>
{% endblock %}